$color-primary-light: rgba(225, 96, 96, 0.857);
$color-primary-dark: rgb(191, 30, 30);
$color-light-dark: rgb(0,0,0);
$color-blue: #219DBB;
$color-gray: #ccc;
$color-light-gray: rgba(192, 182, 182, 0.857);