$color-primary-light: rgb(246, 246, 246);
$color-primary-dark: rgb(255, 255, 255);
$color-light-dark: rgb(0,0,0);
$color-blue: #219DBB;
$color-gray: #ccc;
$color-light-gray: rgba(192, 182, 182, 0.857);